.GenerateJoke-btn {
   width: 130px;
   height: 40px;
   background: lightgreen;
   border-radius: 10px;
   border: none;
   font-weight: bold;
   margin-top: 20px;
   cursor: pointer;
   font-size: 20px;
   color: black;
}